.prefectures-selecter {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.prefectures-selecter__list {
  display: flex;
  flex-wrap: wrap;

  gap: 12px;
}

.prefectures-selecter__button {
  padding: 10px 16px 8px;
  border: 1px solid var(--color-gray300);
  border-radius: 4px;
  background-color: var(--color-gray100);
  color: var(--color-gray700);
  font-size: var(--fs-xs);
  line-height: 1;
  cursor: pointer;
  transition: background-color 0.3s ease;

  appearance: none;
}

.prefectures-selecter__button:hover {
  background-color: var(--color-gray200);
}
