:root {
  /* 12px */
  --fs-xs: 0.75rem;
  /* 14px */
  --fs-sm: 0.875rem;
  /* 16px */
  --fs-base: 1rem;
  /* 18px */
  --fs-lg: 1.125rem;
  /* 20px */
  --fs-xl: 1.25rem;
  /* 24px */
  --fs-2xl: 1.5rem;
  /* 30px */
  --fs-3xl: 1.875rem;
  /* 36px */
  --fs-4xl: 2.25rem;
  /* 48px */
  --fs-5xl: 3rem;
  /* White colors */
  --color-white: #fff;
  /* Gray colors */
  --color-gray50: #f9fafb;
  --color-gray100: #f3f4f6;
  --color-gray200: #e5e7eb;
  --color-gray300: #d1d5db;
  --color-gray400: #9ca3af;
  --color-gray500: #6b7280;
  --color-gray600: #4b5563;
  --color-gray700: #374151;
  --color-gray800: #1f2937;
  --color-gray900: #111827;
  /* breakpoint */
  --breakpoint: 1025px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
