.line-chart-content__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.prefectures-content {
  display: flex;
  flex-direction: column;

  gap: 60px;
}

.prefectures-content__controller {
  display: flex;
  flex-direction: column;

  gap: 24px;
}
